{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>WikiColor - {{ title }}</title>
    {% else %}
        <title>WikiColor</title>
    {% endif %}
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'wikicolor.ico' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static 'styles/keyboard-dark.css'%}" rel="stylesheet">
    <link href="{% static 'styles/loading.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/phonochromie_alem_v4.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/popup.css'%}">
    
    {% block styles %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'scripts/jquery.keyboard.js'%}"></script>
    
</head>
<body>
    

    <div class="header"><span id="sp_header" class="langspan"></span></div>

    <a href="https://alem.hypotheses.org/outils-alem-app/wikicolor" target="_blank"><img src="{% static 'im/logo_wikicolor6b.png'%}" width="40%" class="langtitle" id="ti_titre"></a>
    <h2 id="subtitle"><span id="sp_subtitle" class="langspan contours"></span></h2>
    <div id="zhsubtitle" style="display: none;">
        <div class="zhtokenHead"><div><svg viewBox="0 0 100 100" width="50" height="50" class="sinosvgHead" ><rect x="0" y="0" height="50" width="100" stroke="black" stroke-width="0.5" class="phon_ts"></rect><rect x="0" y="50" height="50" width="100" stroke="black" stroke-width="0.5" class="phon_1"></rect><text x="0" y="85" font-size="100" class="sinosvgText">自</text><rect x="0" y="0" height="12" width="12" fill="black"></rect><rect x="88" y="88" height="12" width="12" fill="black"></rect></svg></div><div><svg viewBox="0 0 100 100" width="50" height="50" class="sinosvgHead" ><rect x="0" y="0" height="33" width="100" stroke="black" stroke-width="0.5" class="phon_t"></rect><rect x="0" y="33" height="33" width="100" stroke="black" stroke-width="0.5" class="phon_o"></rect><rect x="0" y="66" height="33" width="100" stroke="black" stroke-width="0.5" class="phon_n_maj"></rect><text x="0" y="85" font-size="100" class="sinosvgText">动</text><rect x="0" y="0" height="12" width="12" fill="black"></rect><rect x="88" y="88" height="12" width="12" fill="black"></rect></svg></div></div><div class="zhtokenHead"><div><svg viewBox="0 0 100 100" width="50" height="50" class="sinosvgHead" ><rect x="0" y="0" height="100" width="100" stroke="black" stroke-width="0.5" class="phon_y"></rect><text x="0" y="85" font-size="100" class="sinosvgText">语</text><rect x="0" y="44" height="12" width="12"></rect><rect x="44" y="88" height="12" width="12" fill="black"></rect><rect x="88" y="0" height="12" width="12" fill="black"></rect></svg></div><div><svg viewBox="0 0 100 100" width="50" height="50" class="sinosvgHead" ><rect x="0" y="0" height="50" width="100" stroke="black" stroke-width="0.5" class="phon_i"></rect><rect x="0" y="50" height="50" width="100" stroke="black" stroke-width="0.5" class="phon_n"></rect><text x="0" y="85" font-size="100" class="sinosvgText">音</text><rect x="0" y="0" height="12" width="12" fill="black"></rect><rect x="88" y="0" height="12" width="12" fill="black"></rect></svg></div></div><div class="zhtokenHead"><div><svg viewBox="0 0 100 100" width="50" height="50" class="sinosvgHead" ><rect x="0" y="0" height="33" width="100" stroke="black" stroke-width="0.5" class="phon_ts_retr"></rect><rect x="0" y="33" height="33" width="100" stroke="black" stroke-width="0.5" class="phon_a"></rect><rect x="0" y="66" height="33" width="100" stroke="black" stroke-width="0.5" class="phon_w"></rect><text x="0" y="85" font-size="100" class="sinosvgText">着</text><rect x="0" y="0" height="12" width="12" fill="black"></rect><rect x="88" y="0" height="12" width="12" fill="black"></rect></svg></div></div><div class="zhtokenHead"><div><svg viewBox="0 0 100 100" width="50" height="50" class="sinosvgHead" ><rect x="0" y="0" height="50" width="100" stroke="black" stroke-width="0.5" class="phon_s"></rect><rect x="0" y="50" height="50" width="100" stroke="black" stroke-width="0.5" class="phon_7"></rect><text x="0" y="85" font-size="100" class="sinosvgText">色</text><rect x="0" y="0" height="12" width="12" fill="black"></rect><rect x="88" y="88" height="12" width="12" fill="black"></rect></svg></div><div><svg viewBox="0 0 100 100" width="50" height="50" class="sinosvgHead" ><rect x="0" y="0" height="50" width="100" stroke="black" stroke-width="0.5" class="phon_t_hs_slash"></rect><rect x="0" y="50" height="50" width="100" stroke="black" stroke-width="0.5" class="phon_i"></rect><text x="0" y="85" font-size="100" class="sinosvgText">器</text><rect x="0" y="0" height="12" width="12" fill="black"></rect><rect x="88" y="88" height="12" width="12" fill="black"></rect></svg></div></div></div>
    </div>

    <div class="choixLang">
        <select id="choixLang" onchange="selectLang(this.value)">
            <option value="fr">Français</option>
            <option value="en">English</option>
            <option value="zh">中文</option>
        </select>
    </div>

    <div class="container-fluid">       
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>

    <footer>
        <div style="font-size: 20pt;"><a href="https://alem.hypotheses.org/category/tutoriels/tutoriels-wikicolor" target="_blank"><span id="sp_tuto" class="langspan"></span></a></div>
        <div>S.Coulange, {{data.update}} | 
        <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/pedagogies-multimodales/wikicolor"><span id="sp_footcode" class="langspan"></span></a>
         - <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/pedagogies-multimodales/wikicolor/commits/master"><span id="sp_footjournal" class="langspan"></span></a>
        </div>
        <div class="licence-div">
            <div><span id="sp_footlicence" class="langspan"></span></div>
            <div><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Attribution-NonCommercial-ShareAlike 4.0 International"><img height="30px" src="{% static 'im/cc-by-nc-sa.png' %}" title="Attribution-NonCommercial-ShareAlike 4.0 International" class="licence-element licence-img"/></a></div>
            <div><span id="sp_footDic" class="langspan"></span><a href="https://gricad-gitlab.univ-grenoble-alpes.fr/pedagogies-multimodales/wikiphon">wikiPhon</a></div>
            <div><span id="sp_footAli" class="langspan"></span><a href="https://gricad-gitlab.univ-grenoble-alpes.fr/pedagogies-multimodales/phon2graph">phon2graph</a></div>
        </div>
    </footer> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'languages/languages.js' %}"></script>
    {% block javascript %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'scripts/interface.js' %}"></script>
    <script src="{% static 'scripts/keyboard.js' %}"></script>
</body>
</html>