{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Coloriseur phonographémique</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/kinephones_style.css'%}">
</head>
<body>
    
    <div>
        <h1>Coloriseur phonographémique</h1>
        <h2>Journal des modifications</h2>
    </div>

    
    <div>
        <form action="/app/" method="POST">{% csrf_token %}
            <button formaction="/app/">Retour au coloriseur</button>
        </form>
    </div>

    <div>
        {{ data.listCommits }}
    </div>

    <footer>
        <div class="footer">S.Coulange, {{data.update}} | 
        <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/pedagogies-multimodales/wikicolor">Code source</a>
         - <a href="/app/commits">Journal des modifications</a>
        </div>
    </footer>
</body>
</html>