{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/datatables.min.css'%}">
{% endblock %}

{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
    <defs>
        <linearGradient id="gradient_ts" x1="0" x2="1" y1="0" y2="0">
            <stop offset="50%" class="phon_t"/>
            <stop offset="51%" class="phon_s"/>
        </linearGradient>
        <linearGradient id="gradient_t_hs" x1="0" x2="1" y1="0" y2="0">
            <stop offset="50%" class="phon_t_h"/>
            <stop offset="51%" class="phon_s"/>
        </linearGradient>
        <linearGradient id="gradient_ts_slash" x1="0" x2="1" y1="0" y2="0">
            <stop offset="50%" class="phon_t"/>
            <stop offset="51%" class="phon_s_slash"/>
        </linearGradient>
        <linearGradient id="gradient_t_hs_slash" x1="0" x2="1" y1="0" y2="0">
            <stop offset="50%" class="phon_t_h"/>
            <stop offset="51%" class="phon_s_slash"/>
        </linearGradient>
        <linearGradient id="gradient_ts_retr" x1="0" x2="1" y1="0" y2="0">
            <stop offset="50%" class="phon_t"/>
            <stop offset="51%" class="phon_s_retr"/>
        </linearGradient>
        <linearGradient id="gradient_t_hs_retr" x1="0" x2="1" y1="0" y2="0">
            <stop offset="50%" class="phon_t_h"/>
            <stop offset="51%" class="phon_s_retr"/>
        </linearGradient>

        <pattern id="zai" patternUnits="userSpaceOnUse" width="100" height="100">
            <rect stroke="black" stroke-width="0.5" width="100px" height="33px" x="0" y="0" class="phon_t_hs" />
            <rect stroke="black" stroke-width="0.5" width="100px" height="33px" x="0" y="33" class="phon_a" />
            <rect stroke="black" stroke-width="0.5" width="100px" height="33px" x="0" y="66" class="phon_j" />
        </pattern>

    </defs>
    <style>
        .phon_t_hs_retr {
            fill:url(#gradient_t_hs_retr);
        }
        .phon_ts_retr {
            fill:url(#gradient_ts_retr);
        }
        .phon_t_hs {
            fill:url(#gradient_t_hs);
        }
        .phon_ts {
            fill:url(#gradient_ts);
        }
        .phon_t_hs_slash {
            fill:url(#gradient_t_hs_slash);
        }
        .phon_ts_slash {
            fill:url(#gradient_ts_slash);
        }
    </style>
</svg>
    <div class="editDico">
        <h2><span id="sp_dicoH2" class="langspan"></span></h2>
        <input hidden id="dicoLang" value="{{ data.dicoLang }}">
        
        <div class="searchWindow">
            <div class="input">
                <span id="sp_popAddwWord" class="langspan"></span><br/>
                <div class="searchWindow">
                    <select class="dropdown-toggle searchCondition" id="condition-mot">
                        <option value="includes" selected id="sp_dicoContient" class="langspan"></option>
                        <option value="startsBy" id="sp_dicoComm" class="langspan"></option>
                        <option value="endsBy" id="sp_dicoFini" class="langspan"></option>
                        <option value="equalsTo" id="sp_dicoEgal" class="langspan"></option>
                    </select>
                    <input class="searchField" id="inMot" type="text" value=""/>
                </div>
            </div>
            <div class="input">
                <span id="sp_popAddwTrans" class="langspan"></span><br/>
                <div class="searchWindow">
                    <select class="dropdown-toggle searchCondition" id="condition-trans">
                        <option value="includes" selected id="sp_dicoContient2" class="langspan"></option>
                        <option value="startsBy" id="sp_dicoComm2" class="langspan"></option>
                        <option value="endsBy" id="sp_dicoFini2" class="langspan"></option>
                        <option value="equalsTo" id="sp_dicoEgal2" class="langspan"></option>
                    </select>
                    <input id="inTrans" class="searchField api-kb" type="text" value=""/>
                </div>
            </div>
        </div>
        <button id="rechercher" class="langtitle"><span id="sp_dicoRechercher" class="langspan"></span></button>

        <div class="info"><span id="sp_dicoInfoEntry" class="langspan"></span> <span id="dicoNbEntr">{{ data.lenDic|intcomma }}</span><br/>{{ data.logStat.cptEdit }} <span id="sp_dicoInfoMod" class="langspan"></span> ({{ data.logStat.cptAdd }} <span id="sp_dicoInfoModAdd" class="langspan"></span> ; {{ data.logStat.cptModif }} <span id="sp_dicoInfoModEd" class="langspan"></span> ; {{ data.logStat.cptDel }} <span id="sp_dicoInfoModDel" class="langspan"></span>)<br/><a style="cursor:pointer" onclick="getLogOf('*')"><span id="sp_dicoInfoHist" class="langspan"></span></a></div>
        <div class="result">
            <h3><span id="sp_dicoResultats" class="langspan"></span> <span id="nbres"></span></h3>
            <table id="resultTable">
                <colgroup>
                    <col width="40%" />
                    <col width="40%" />
                    <col width="20%" />
                </colgroup>
                
                <tr>
                    <th><span id="sp_dicoMot" class="langspan"></span></th>
                    <th><span id="sp_dicoTrans" class="langspan"></span></th>
                    <th><span id="sp_dicoActions" class="langspan"></span></th>
                </tr>
            </table>
            <center><div id="loader" class="loader" style="display: none;"></div></center>
            <button id="btnShowMore" class="btn btn-success langtitle" style="margin: 10px;display: none; color:white"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-plus-circle" viewBox="0 0 16 16">  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg></button>
            <!-- <button id="btnAddEntry" class="btn btn-primary" style="margin: 10px;" title="Ajouter une entrée">Ajouter une entrée</button> -->
            <div id="actionBlock" style="display: none;"><div class="loader mainLoad"></div></div>
            
            <div class="divAddEntree">
                <h3><span id="sp_dicoAddNewWord" class="langspan"></span></h3>
                <p><i><span id="sp_popAddwInfo" class="langspan"></span></i></p>
                <span id="sp_dicoMot2" class="langspan"></span> <input type="text" id="newWord" class="searchField" value=""> <span id="sp_dicoTrans2" class="langspan"></span> <input id="newTrans" class="searchField api-kb" type="text" value=""/>
                <button class="btn btn-success btnAddNew langtitle" id="ti_addNewWord" onclick="ajouter()"><span id="sp_dicoAddNewWordAdd" class="langspan"></span></button>
            </div>
        </div>
    </div>
    <div>
        <form action="/app/" method="POST">{% csrf_token %}
            <button formaction="/app/dico/"><span id="sp_dicoBackDico" class="langspan"></span></button>
            {% if data.dicoLang == 'fr' %}
                <button formaction="/fr/"><span id="sp_dicoBackCol" class="langspan"></span></button>
            {% elif data.dicoLang == 'en' %}
                <button formaction="/en/"><span id="sp_dicoBackCol" class="langspan"></span></button>
            {% elif data.dicoLang == 'zh' %}
                <button formaction="/zh/"><span id="sp_dicoBackCol" class="langspan"></span></button>
            {% endif %}
        </form>
    </div>
    <br>

    <!-- Fenêtre d'historique des modifications -->
    <div id="myModal" class="modal2">
        <!-- Modal content -->
        <div class="modal-content2">
        <div class="modal-header2">
            <span class="close">&times;</span>
            <h2><span id="sp_dicoHisto" class="langspan"></span></h2>
        </div>
        <div id="modalBody" class="modal-body">
            <h2 id="popLogH2" class="popLogH2"></h2>
            
            <div id="myDataTable"></div>
            <!-- La datatable doit être générée from scratch à chaque fois pour se mettre à jour correctement (cf. editDico.js) -->
            <!-- https://datatables.net/manual/installation -->
            <!-- <table class="table table-hover" id="logTable" data-order='[[ 0, "desc"]]' data-page-length='25'>
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Word</th>
                        <th scope="col">Type</th>
                        <th scope="col">Old version</th>
                        <th scope="col">New version</th>
                    </tr>
                </thead>
                <tbody id="logTableBody">
                </tbody>
            </table> -->
        </div>
        <div class="modal-footer2">
            <h3>WikiColor</h3>
        </div>
        </div>
    </div>

    <!-- Modal qui apparaît pour afficher/modifier un mot au dictionnaire -->
    <div id="modalEditWord" class="modal">
        <div class="popAddw-content" style="min-width:600px;">
            <div class="popAddw-header d-flex justify-content-between align-items-center">
                <span id="sp_dicoEditEntry" class="langspan"></span>
                <span class="close" id="closeEditWord">&times;</span>
            </div>
            <div class="popAddw-body">
                <div class="d-flex flex-column text-start">
                    <div class="m-3">
                        <b><span id="sp_dicoEditEntryWord" class="langspan"></span> </b>« <span id="popwMot"></span> »
                    </div>
                    <div class="m-3" id="popwCatDiv" style="display:none">
                        <b><span id="sp_dicoEditEntryPOS" class="langspan"></span> </b><span id="popwCat"></span>
                    </div>
                    <div class="m-1 row align-items-start" id="popwFanJianDiv" style="display:none">
                            <div class="col"><img class="me-2" width="30px" src="{% static 'im/badge-fantizi.png' %}" title="繁體字"></img><span id="popwFan"></span></div>
                            <div class="col"><img class="me-2" width="30px" src="{% static 'im/badge-jiantizi.png' %}" title="简体字"></img><span id="popwJian"></span></div>
                    </div>
                    <div class="m-3" id="popwEDiv" style="display:none">
                        <b><span id="sp_dicoEditEntryMeaning" class="langspan"></span> </b><span id="popwE"></span>
                    </div>
                </div>

                <table id="transTable" style="width:100%">
                    <tr>
                        <th><span id="sp_dicoEditEntryTrans" class="langspan"></span></th>
                        <th><span id="sp_dicoEditEntryReg" class="langspan"></span></th>
                    </tr>
                </table>
                <div id="modalEditWordBtnAddTransDiv"></div>
                <div id="modalEditWordBtnDiv" class="m-1"></div>
            </div>
        </div>
    </div>

    <!-- Modal qui apparaît pour afficher/modifier la/les régions d'un mot du dictionnaire -->
    <div id="modalEditWordRegion" class="modal" style="padding-top: 200px;">
        <div class="popAddw-content" style="min-width:500px;">
            <div class="popAddw-header d-flex justify-content-between align-items-center">
                <span id="sp_dicoEditRegTitle" class="langspan"></span>
                <span class="close" id="closeEditWordRegion">&times;</span>
            </div>
            <div class="popAddw-body">
                <b><span id="sp_dicoEditRegW" class="langspan"></span> </b>« <span id="modalEditWordRegionWord"></span> »<br/>
                <b><span id="sp_dicoEditRegP" class="langspan"></span> </b>/<span id="modalEditWordRegionTrans" class="inputTrans"></span>/<br/>
                <input hidden id="modalEditWordRegionCptEntr" value="">
                <br/>
                <div id="regCheckboxDiv"></div>
                <br/><br/>
                <b><span id="sp_dicoEditRegC" class="langspan"></span></b><br/>
                <textarea id="modalEditWordRegionComment" placeholder="Type any comment you want on this pronunciation."></textarea>

                <div id="modalEditWordRegionBtnDiv">
                    <button class="btn btn-success" onclick="validRegions()"><span id="sp_dicoEditRegSave" class="langspan"></span></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'scripts/loc2stand.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/editDico.js' %}"></script>
{% endblock %}