{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="editDico p-4">
        <h2><span id="sp_LookUpDicos" class="langspan"></span></h2>
        <div class="divInfoWiki">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            <span id="sp_LookUpDicosInfo" class="langspan"></span>
        </div>
        <p class="m-3" style="text-align: left;font-style: italic;"></p>
        <div class="listDico my-4 d-flex justify-content-evenly align-self-start">
            
            <div class="card cardDico border-dark" onclick="location.href='fr';">
                <div class="card-header"><h4>Français</h4></div>
                <div class="card-body" style="text-align: left;">
                    <!-- <p>{{ data.nbMotsFr|intcomma }} entrées.</p> -->
                    <p>1 450 000+ entrées.</p>
                    <p>Issu de :</p>
                    <ul>
                        <li><a href='https://fr.wiktionary.org/' target='_blank'>Wiktionnaire français (dump du 01/03/2020)</a></li>
                        <li><a href='https://repository.ortolang.fr/api/content/morphalou/2/LISEZ_MOI.html' target='_blank'>Lexique Morphalou3.1</a></li>
                        <li>Votre collaboration :)</li>
                    </ul>
                </div>
            </div>

            <div class="card cardDico border-dark" onclick="location.href='en';">
                <div class="card-header"><h4>English</h4></div>
                <div class="card-body" style="text-align: left;">
                    <!-- <p>{{ data.nbMotsEn|intcomma }} entrées.</p> -->
                    <p>155.000+ entries.</p>
                    <p>From:</p>
                    <ul>
                        <li><a href='https://en.wiktionary.org/' target='_blank'>English Wiktionary (dump of 2020/07/04)</a></li>
                        <li><a href='http://www.speech.cs.cmu.edu/cgi-bin/cmudict/?in=pronunciation&stress=-s' target='_blank'>CMU Pronouncing Dictionary</a></li>
                        <li><a href='https://github.com/JoseLlarena/Britfone' target='_blank'>Britfone Pronunciation Dictionary</a></li>
                        <li>Help from you guys :)</li>
                    </ul>
                </div>
            </div>

            <div class="card cardDico border-dark" onclick="location.href='zh';">
                <div class="card-header"><h4>中文（普通話）</h4></div>
                <div class="card-body" style="text-align: left;">
                    <!-- <p>{{ data.nbMotsZh|intcomma }} entrées.</p> -->
                    <p>188.000+詞</p>
                    <p>起源:</p>
                    <ul>
                        <li><a href="https://cc-cedict.org/wiki/" target="_blank">CC-CEDICT</a></li>
                        <li>你們的幫助:)</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div>
        <form action="/app/" method="POST">{% csrf_token %}
            <button formaction="/app/"><span id="sp_LookUpDicosRetour" class="langspan"></span></button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}