{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Coloriseur</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css'%}">
    <body>
        <div class="fenetre">
            <form action="/login/" method="post">{% csrf_token %}
                <h2>Connexion</h2>
                Nom d'utilisateur : <input type="text" name="userName"/><br/>
                Mot de passe : <input type="text" name="userPass"/><br/>
                <input type="submit" value="Log in !"/>
                <a href="/signIn/">Créer un compte</a>
            </form>
        </div>
    </body>
</html>