{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Coloriseur</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css'%}">
    <body>
        <div class="fenetre">
            <h2>Enregistrer un nouvel utilisateur :</h2>
            <form action="/addUser/" method="post">{% csrf_token %}
                Nom d'utilisateur : <input type="text" name="userName"/><br/>
                Mot de passe : <input type="password" name="userPass"/><br/>
                Confirmer le mot de passe : <input type="password" name="passConf"/><br/>
                <input type="submit" value="Créer mon compte !"/>
            </form>
        </div>
    </body>
</html>