:root {
    --phon_monochrome: rgb(218, 218, 218);
    --zhtokenmargin: 20px 15px;
    --sinosvgmargin: 0px 0px;
    --sinosvgtextfill: black;
    --sinosvgneutrecolor: white;
    --sinosvgborder: solid 1px white;
    --space: normal;
}

/* #region FONT-FACES */
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.eot');
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/Ubuntu-Bold.woff') format('woff'),
        url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Italic.eot');
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
        url('../fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Italic.woff2') format('woff2'),
        url('../fonts/Ubuntu-Italic.woff') format('woff'),
        url('../fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.eot');
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../fonts/Ubuntu-Regular.woff') format('woff'),
        url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-BoldItalic.eot');
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
        url('../fonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
        url('../fonts/Ubuntu-BoldItalic.woff') format('woff'),
        url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.eot');
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
        url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/Ubuntu-Medium.woff') format('woff'),
        url('../fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-MediumItalic.eot');
    src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
        url('../fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
        url('../fonts/Ubuntu-MediumItalic.woff') format('woff'),
        url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.eot');
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
        url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Light.woff2') format('woff2'),
        url('../fonts/Ubuntu-Light.woff') format('woff'),
        url('../fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-LightItalic.eot');
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
        url('../fonts/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-LightItalic.woff2') format('woff2'),
        url('../fonts/Ubuntu-LightItalic.woff') format('woff'),
        url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face{
	font-family:'SimKai';
	src: url('../fonts/simkai.eot');
	src: local('SimKai'), local('KaiTi'),
        url('../fonts/simkai.woff2') format("woff2"),
        url('../fonts/simkai.woff') format("woff"),
        url('../fonts/simkai.ttf') format("truetype");
	font-weight:normal;
	font-style:normal
}

body {
    background-image: url(../im/arriereplan.gif);
    font-family: Ubuntu, kaitiregular, SimKai, Times, KaiTi, Calibri;
    font-variant-ligatures: no-common-ligatures;
    font-size: 14pt;
    text-align: center;
    padding: 0px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin: auto;
}

.contours {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

button {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: gray 1px 1px 1px;
	margin: 5px;
    padding: 2px 18px;
}

svg { /* vient écraser le background black de phonochromie-alem.css*/
    background-color: transparent;
}

.choixLang {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
}

.inputDiv {
    display: inline-table;
    height: 100px;
    width: 80%;
    background-color: white;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position: relative;
}

.inText {
    width: 95%;
    height: 80px;
    margin: 5px;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 4px;
}

.param {
    position: relative;
    text-align: right;
    margin-top: -15px;
}

.inputDivH2 {
    position: absolute;
    top: 10px;
    left: 15px;
    text-align: left;
}

.win-black {
    position: relative;
    display: inline-table;
    background-color: black;
    color: white;
    border: solid 2px darkgrey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.win-white {
    background-color: white;
    color: black;
}

.graphContours {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.outputMainDiv {
    height: 250px;
    width: 80%;
    text-align: left;
    position: relative;
}

.outputParam {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 15px;
}
.outputParam div {
    cursor: pointer;
    margin: auto;
}

.output {
    display: inline-table;
    height: auto;
    width: 97%;
    padding: 10px;
    margin: auto;
    text-align: left;
    font-size: 35pt;
    font-family: Ubuntu, Palatino, SimKai, KaiTi, Times, Calibri;
}

.outputBold {
    font-weight: bold;
}


.unknownMark {
    font-size: 13pt;
    vertical-align: super;
    padding: 5px;
}
.unknownMark:hover {
    color: green;
    cursor: pointer;
}
.bugMark {
    font-size: 13pt;
    vertical-align: super;
}
.bugMark:hover{
    color: red;
}

#graphies {
    background-color: black; 
    font-weight:bold; 
    text-align:center; 
    padding: 10px; 
    margin: 10px; 
    font-size: 2em; 
    height: 100px;
    width: 97%;
}

.transMult {
    border-bottom: .5px solid rgba(211, 211, 211, 0.5);
    cursor: pointer;
}
.transMultEn {
    cursor: pointer;
}

.monochrome {
    color: var(--phon_monochrome);
    background: transparent;
    -webkit-background-clip: unset;
    background-clip: unset;
    -webkit-text-fill-color: var(--phon_monochrome);
    text-decoration: unset;
}

.alignPopDivBack {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
  }

.alignPopDiv {
    position: absolute;
    border: thistle solid 1px;
    z-index: 10;
    background-color: black;
    /* overflow: scroll; */
    font-size: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.tableAlign tr td {
    border: solid transparent 1px;
    padding: 0px 5px;
}
.tableAlign tr:hover {
    background-color: rgba(255, 255, 255, 0.192);
}

.divInfoWiki {
    margin: 20px auto;
    max-width: 1000px;
    font-size: 1em;
    font-style: italic;
}

.outputzh div {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sinosvg { /* hanzi */
    border: var(--sinosvgborder);
    border-radius: 4px;
    margin: var(--sinosvgmargin);
}

.sinosvgNeutre { /* caractère non coloré */
    color: var(--sinosvgneutrecolor);
    font-size: 90px;
}

.sinosvgText {
    fill: var(--sinosvgtextfill);
}

.zhtoken { /* mot en mandarin */
    margin: var(--zhtokenmargin);
}

.zhtokenHead { /* header sous le titre */
    display: inline-flex;
}
.zhtokenHead div {
    margin: 3px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 5px;
}

.btnzi {
    width: 25px;
    cursor: pointer;
    margin: auto;
}


/* Responsive layout */
@media screen and (max-width: 900px) {
    .outputMainDiv {
        width: 90%;
    }
    .inputDiv {
        width: 90%;
    }
  }
  
  /* Responsive layout */
  @media screen and (max-width: 600px) {
    .outputMainDiv {
        width: 95%;
    }
    .inputDiv {
        width: 95%;
    }
  }

/************** STYLES DU DICTIONNAIRE *****************/

.editDico {
    display: inline-table;
    height: 100px;
    width: 80%;
    background-color: white;
    border: outset;
    padding-bottom: 20px;
    margin: 40px 10px 10px 10px;
    text-align: center;
}

.searchWindow {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* étale les items sur la largeur */
    justify-content: stretch;
    align-items: stretch; /* alignement vertical des items */
}

/* Responsive layout */
@media screen and (max-width: 900px) {
    .searchWindow {
        flex-direction: column;
    }
  }

.input {
    flex: 50%;
    padding: 10px;
}

.searchCondition {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    padding: 3px;
    margin: 5px;
}

.searchField {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    padding: 3px;
    margin: 5px;
}

.loaderDiv {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d4343a4;
    cursor: wait;
}
.loaderDiv div {
    position: absolute;
    top: 40%;
}

.info {
    font-size: .7em;
    background-color: rgb(182, 233, 182);
    border: 1px black solid;
    width: 60%;
    margin: 20px auto;
    padding: 5px 5px;
}
.warning {
    background-color: lightsalmon;
}
.numEntr {
    position: absolute;
    color: lightslategray;
    transform: translate(-200%,70%);
    font-style: italic;
    font-size: .5em;
}
#actionBlock {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(119, 136, 153, 0.596);
}
.mainLoad {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

#resultTable {
    width: 90%;
    margin: auto;
    border: solid 1px black;
    table-layout:fixed;
}
th td {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
th {
    background-color: lightblue;
    border: solid 1px black;
    text-align: center;
    font-style: italic;
}
td {
    text-align: left;
    background: none;
    border: lightblue 1px solid;
}
tr:hover {
    background-color: lightcyan;
}

.trgris {
    background-color: gray;
}

.wikiLienIcon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
}

.logEntr {
    position: absolute;
    top: 9px;
    right: 10px;
    display: inline-block;
    height: 25px;
    margin-left: -5px;
    cursor: pointer;
}

.dicEntry {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    margin: 3px auto;
    text-align: left;
}

.inputTrans {
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.trans {
    font-family: Arial, Helvetica, sans-serif;
}

.dicEntryHead {
    font-style: italic;
    color: gray;
}

.btn-perso {
    margin:2px;
}

.editTrans {
    box-shadow: inset 0 0 7px 1px lightgreen;
    background-color: white;
}

input[type="text"]:disabled {
    background: white;
    color: black;
    border: inset 1px;
}

.btn-secondary:hover {
    background-color: gray;
}

footer {
    margin-top: 20px;
    font-style: italic;
    font-size: 12pt;
}

.licence-div {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* étale les items sur la largeur */
    justify-content: center;
    align-items: center; /* alignement vertical des items */
}
.licence-div div {
    margin: 3px 5px;
}

.header {
    font-size: 12pt;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.divAddEntree {
    width: 80%;
    border: gray 1px solid;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}
.divAddEntree h3 { font-size: 1.2em;}
.divAddEntree p { font-size: .8em;}

.btnAddNew {
    transform: translateY(-3px);
}

.cardDico {
    cursor: pointer;
    width: 280px;
}
.cardDico:hover {
    border-width: 2px;
}

.dicoReqRes {
    position: relative;
}

.roundButton {
    border:1px solid transparent;
    border-radius:50%;
    font-size: 2em;
    line-height: .6em;
    padding: 5px;
}

.myAccordion-btn {
    width:max-content;
    margin: auto;
    padding: 10px 15px;
}

.colorSetting {
    width: 30px;
    height: 30px;
    border-radius: 40%;
}

.form-check-input:checked {
    background-color: rgb(82, 82, 82);
}

.phonTableTd {
    text-align: center;
}

[class*="custphon"] {
    width: max-content;
    margin: auto;
    display: inline-flex;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.space {
    letter-spacing: var(--space);
}